<!-- inlcude header -->
<%- include('./layouts/header') %>
<!-- /inlcude header -->

<a href="/tickets">All tickets</a>

<h1>Update Ticket</h1>

<!-- add form ticket -->
<%- include('./layouts/_form_ticket') %>
<!-- add form ticket -->

<!-- inlcude footer -->
<%- include('./layouts/footer') %>
<!-- /inlcude footer -->
